@import '~scss/Variables';

.involvement_panel_wrapper {
  display: flex;
  justify-content: center;

  .involvement_panel {
    width: 90%;
    max-width: $container_max_width;

    display: flex;
    flex-direction: column;
    justify-content: center;
    & > * {
      margin-bottom: 50px;
    }
  }
}
