@import '~scss/Variables';

.donations_panel_wrapper {
  width: 100%;
  background-color: $blue;
  display: flex;
  justify-content: center;
}

.donations_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: $container_max_width;
  width: 80%;
  padding-bottom: 30px;
  text-align: center;
  .title {
    color: $white;
    font-size: $text_hg;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .message {
    color: $white;
    font-size: $text_md;
    line-height: $text_md * $line_height_scale_norm;
    margin-bottom: 50px;
  }
  .tax_message {
    color: rgba($white, 0.75);
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
  }
  .donations_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
