@import '~scss/Variables';

.program_option {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1 1 250px;
  min-width: 250px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 10px;

  .icon {
    position: absolute;
    top: 0px;
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $blue;
    border-radius: 50%;
    border: 5px solid $white;
  }

  .text_container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > * {
      width: 100%;
    }
  }
  .title_container {
    position: relative;
    box-sizing: border-box;
    padding: 50px 5px 40px 5px;
    color: $white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .title_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.53);
    }

    .title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-align: center;
    }
  }

  .caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    background-color: #eee;
    color: $black;
    box-sizing: border-box;
    padding: 20px 5px;
  }

  .link {
    width: 100%;
    background-color: $green;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
