@import '~scss/Variables';

footer {
  color: $white;

  h2 {
    font-weight: normal;
    font-family: $font_primary;
    font-size: $text_lg;
    line-height: $text_lg * $line_height_scale_norm;
  }
  a, p {
    font-size: $text_md;
    line-height: $text_md * $line_height_scale_norm;
    font-family: $font_secondary;
  }

  background-color: $black;

  .footer_top {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    @media (max-width: $bpoint_sm) {
      display: block;
      text-align: center;
    }
  }

  .footer_bottom {
    p {
      text-align: center;
      font-family: $font_primary;
    }
    .footer_image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      img {
        max-height: 600px;
        max-width: 80vw;
      }
    }
  }

  .icon_name {
    text-decoration: underline;
  }

  .social_links {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a {
    color: $white;
    transition: all 0.4s;
    text-decoration: none;

  }
  .contact_info {
    .font_awesome {
      i {
        margin-right: 5px;
      }
    }
    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    border: 1px solid rgba($white, 1.0);
  }
}
