@import '../../scss/Variables';

.updates_feed_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.updates_feed {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .update_wrapper:not(:last-child) {
    // margin-bottom: 50px;
    border-bottom: 2px solid lighten($black, 75);
  }
}
