@import '~scss/Variables';

.virtualClassroom {
  min-width: 200px;
  text-align: center;
  img {
    opacity: 0.75;
  }

  h2 {
    color: $blue;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  p {
    color: $white;
    margin-top: 0px;
    margin-bottom: 3px;
  }
}
