@import '~scss/Variables';

.nav_panel {
  z-index: $z_navbar;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: all 0.5s;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 100%;
  &.panel_open { left: 0; }

  li {
    padding-bottom: 20px;
    padding-top: 20px;
    list-style: none;
    transition: 0.5s all;

    &:hover {
      a { color: $yellow; }
      transform: scale(1.2);
    }

    a {
      color: $white;
      font-size: $text_md;
      text-decoration: none;
    }
  }
}
