@import '~scss/Variables';

.partners_panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    max-width: $container_max_width;
    text-align: center;
    color: $black;
    font-family: $font_primary;
    font-size: $text_md;
  }
}
