 @import "~scss/Variables";

.navbar_tabs_wrapper {
  width: 100%;
  z-index: $z_navbar_tabs_wrapper;
}

// Small screens
@media (max-width: $bpoint_md - 1) {
  .navbar_tabs_wrapper {
    background-color: $blue;
  }
}

// Large screens
@media (min-width: $bpoint_md) {
  .navbar_tabs_wrapper {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar_tabs_large {
  flex-flow: column nowrap;
  width: 100%;
  max-width: 900px;


  &::-webkit-scrollbar-track {
    visibility: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .navbar_tab_items {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $white;

    a.nav_item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      text-decoration: none;
      color: $blue;
      padding: 15px 0px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: $text_sm;
      transition: color 0.15s ease;
      border-top: 5px solid $white;
      border-bottom: 5px solid $white;

      &.selected {
        color: $green;
      }

      &.hovered {
        border-top: 5px solid $light_green;
        color: $blue !important;
      }
    }

    &.hovered {
      a.nav_item {
        color: rgba($blue, 0.3);
      }
    }

  }
}


.navbar_tabs_small {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  color: $white;

  .logo {
    color: $white;
    font-weight: bold;
    font-size: $text_md;
  }
}
