
@import "../../scss/Variables";

.navbar {
  width: 100%;
  font-family: $font_primary;

  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 0;
  left: 0;
  z-index: $z_navbar;
  background-color: $white;
  box-shadow: $box_shadow;
}

@media (max-width: $bpoint_md) {
  .navbar_hamburger {
    display: flex !important;
  }
  .navbar_tabs {
    display: none !important;
  }
}

@media (min-width: $bpoint_md - 1) {
  .navbar_hamburger {
    display: none !important;
  }
  .navbar_tabs {
    display: flex !important;
  }
}

.navbar_tabs_wrapper { z-index: 2; }

.navbar_hamburger {
  padding: 5px;
  padding-right: 20px;
  cursor: pointer;
  z-index: $z_hamburger;
  display: flex;
  flex-direction: column;
  & > div {
    width: 20px;
    height: 4px;
    background-color: $white;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}
