
@import "../../scss/Variables";

.navbar {
  width: 100%;
  font-family: $font_primary;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: $z_navbar;
  background-color: $white;
  box-shadow: $box_shadow;
}

// Small screens
@media (max-width: $bpoint_md - 1) {
  .navbar_header {
    display: none;
  }
  .navbar_tabs_large {
    display: none !important;
  }
}

// Large screens
@media (min-width: $bpoint_md) {
  .navbar_tabs_small {
    display: none !important;
  }
}

.navbar_tabs_wrapper { z-index: 2; }
