@import '~scss/Variables';

.program_element_icon {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font_secondary;

}

.element_icon {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}
