@import '~scss/Variables';

.navbar_hamburger {
  padding: 5px;
  padding-right: 20px;
  cursor: pointer;
  z-index: $z_hamburger;
  flex-direction: column;

  & > div {
    width: 20px;
    height: 4px;
    background-color: $white;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}
