@import '~scss/Variables';

.page_header {
  height: $header_height;
  width: 100%;
  position: fixed;
  top: $navbar_height;
  left: 0;
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header_height;
  }
  .header_background {
    position: relative;
    img {
      width: 100%;
      height: $header_height;
      filter: blur(2px);
      object-fit: cover;
    }
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.7);
    }
  }

  .header_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $header_height;
  }

  .header_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;

    h1 {
      font-size: $text_hg;
    }
    p {
      font-size: $text_md;
      line-height: $text_md * $line_height_scale_high;
    }

    // Large screens
    @media (max-width: $bpoint_md - 1) {
      p { display: none; }
    }
  }
}
