@import '~scss/Variables';

.program_image_paragraph {

    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $black;
    width: 100vw;
    overflow: hidden;
}

.wrapper {
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
    height: 100%;
}

.image {
    filter: brightness(0.3);
    height: 100%;
}

.text {
    position: absolute;
    color: $white; 
    font-weight: $weight_thick;
    font-size: $text_md;
    width: 80%;
    top: 30%;
}
