@import '../../../scss/Variables';

.form_view {

  display: flex;
  flex-direction: column;
  align-items: center;

  .form_message {
    text-align: center;
    margin: 20px 5%;
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
    color: $black;
  }

  .form_inputs {
    width: 100%;
    font-family: $font_primary;

    .form_input {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 30px;
      label {
        color: $blue;
        font-size: $text_sm;
        margin-bottom: 5px;
      }

      .text_input {
        padding: 5px;
        border: 2px solid black;
        font-size: $text_sm;
        width: 100%;
      }
    }
  }

  .form_submit_button {
    // background-color: $black;
    // color: $white;
    // font-size: $text_md;
    // font-family: $font_primary;
    //
    // border: none;
    // border-radius: 50px;
    // padding: 10px 30px;
    // margin-top: 20px;
    // margin-bottom: 20px;
    //
    // cursor: pointer;
    border-radius: 5px;
    background-color: $yellow;
    box-shadow: 0px 5px 0px 0px darken($yellow, 10);
    transition: all 0.1s;
    &:active {
      transform: translate(0px, 5px);
      box-shadow: 0px 1px 0px 0px;
    }
    &:hover {
      background-color: lighten($yellow, 10);
    }

    color: $white;
    border: none;
    font-family: $font_primary;
    font-size: $text_md;
    padding: 15px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
    & > * { outline: none; }
  }
}
