@import '~scss/Variables';

.learningDisabilities {
  width: 50%;
  text-align: center;
  img {
    opacity: 0.75;
  }

  h2 {
    color: $blue;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  p {
    font-size: $text_md;
    color: $white;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.divider {
  text-align: center;
  img {
    margin-bottom: -160px;
  }
}