@import '~scss/Variables';

.featured_update {
  padding: 35px;
  box-shadow: $box_shadow;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;

  .title {
    font-size: $text_lg;
    line-height: $text_lg * $line_height_scale_norm;
    font-family: $font_primary;
    color: $blue;

    margin-bottom: 10px;

    a {
      text-decoration: none;
    }
  }

  .date {
    font-size: $text_lg;
    line-height: $text_sm * $line_height_scale_norm;
    font-family: $font_primary;
    color: $white;
    font-weight: bold;
    min-width: 100px;
    margin-bottom: 10px;
  }
}
