@import '~scss/Variables';

.update_wrapper {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.update {
  padding: 35px;
  box-shadow: $box_shadow;

  .title {
    font-size: $text_md;
    line-height: $text_md * $line_height_scale_norm;
    font-family: $font_primary;
    color: $blue;

    margin-bottom: 10px;

    a {
      text-decoration: none;
    }
  }

  .date {
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
    font-family: $font_primary;
    color: lighten($black, 25);
    font-weight: bold;
    min-width: 100px;
  }

  .body {
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
    font-family: $font_primary;
    color: $black;

    margin-bottom: 10px;

    a {
      text-decoration: underline;
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .image_caption {
      font-style: italic;
      font-family: $font_secondary;
    }
  }

  a {
    color: $blue;
  }
}
