@import '~scss/Variables';

.home_video {
  width: 100%;

  .video_wrapper {
    display: block;
    position: relative;
    width: 100%;
    overflow-y: hidden;
  }

  .video_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(darken($black, 10), 0.8);
    color: $white;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    .text_boxes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title {
      font-family: $font_primary;
      margin-bottom: 0px;
    }
    .subtitle { font-family: $font_secondary; }
  }

  video {
    display: block;
    width: 100%;
  }
}

// Small screens
@media (max-width: $bpoint_md - 1) {
  .home_video {

    .video_overlay {
      height: 100%;
      .title { font-size: $text_md; }
      .subtitle { font-size: $text_tn; }
    }
  }
}

// Large screens
@media (min-width: $bpoint_md) {
  .home_video {
    z-index: 0;
    width: 100%;

    video {
      height: $video_height;
      object-fit: cover;
    }

    .video_overlay {
      height: $video_height;
      .title { font-size: $text_hg; }
      .subtitle { font-size: $text_sm; }
    }
  }
}
