@import "../../../scss/Variables.scss";

.member_card {

  @media (min-width: $bpoint_sm) {
    .member_image_background {
      display: none;
    }
    .member_card_row {
      flex-direction: row;
      .member_description {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  @media (max-width: $bpoint_sm - 1) {
    .member_image_background {
        display: flex;
        width: 100%;
        img {
          width: 100%;
          height: $member_image_size;
        }
    }
    .member_image {
      display: flex;
      justify-content: center;
    }
    .member_card_row {
      flex-direction: column;
      .member_description {
        padding-top: 20px;
      }
    }
  }
}
