@import '~scss/Variables';

/* Styling for each approach piece panel */
.program_approach_piece {

    display: flex;
    padding: 2rem;

}

.program_approach_piece:nth-child(even) {

    background-color: $light_blue;
    color: $white;

    flex-direction: row-reverse;

}

.program_approach_piece:nth-child(odd) {
    flex-direction: row;

    background-color: $very_light_gray;
    color: black;
}

/* Styling for both sections within the panel */
.section {

    padding: 2rem;
    font-size: $text_md;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.section.A {

    flex-direction: column;
    font-family: $font_secondary;
}

.section.B {

    font-weight: $weight_thick;

}

.program_approach_piece:nth-child(odd) > .section.A {

    border-right: 1px solid $black;

}

.program_approach_piece:nth-child(even) > .section.A {
    
        border-left: 1px solid $white;
    
}



.icon {

    width: 5rem;
    height: 5rem;
    margin: 0.5rem;

}
