@import '~scss/Variables';

.featuredTeamPanel {
    display: flex;
    
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}


.info {
    background-color: $blue;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spiel {
    
    margin: 2rem 1rem;
    text-align: right;
    font-size: $text_md;
    padding: 3rem;
    
}

.statsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5rem 3rem 5rem;
}

.button {
    display: flex;
    
}

@media screen and (min-width: 768px) {
    .memberImage, .memberImage * {
        height: 15rem;
        width: 15rem;
        overflow: hidden;
    }
    
    .info {
        width: 40vw;
    }
    
    .imageGrid {
        width: 60vw;
    }
    
}

@media screen and (max-width: 768px) {
    
    .imageGrid, .imageGrid *{
        display: none;
    }
    
    .info {
        width: 100vw;
    }
    
    .spiel {
        text-align: center;
    }
    
    .button {
    }
    
}
