@import '~scss/Variables';

.featured-team-panel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;

  @media (min-width: $bpoint_md) {
    .image-grid { display: flex; }
    .info { width: 40%; }
  }

  @media (max-width: $bpoint_md - 1) {
    .image-grid { display: none; }
    .info { width: 100%; }
  }

  .image-grid {

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    width: 600px;
    height: 100%;

    & .member_image {
      width: 200px;
      height: 200px;
    }
  }

  .info {
    flex: 1 0 0;
    background-color: $blue;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .spiel {
      text-align: right;
      font-size: $text_md;
      padding: 30px;
    }

    .stats-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 80px 48px 80px;
      & > * {
        width: 25%;
      }
    }

    .meet-the-team {
      display: flex;
      margin-bottom: 64px;
    }
  }
}
