#navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #ffffff;
  border-bottom: 2px solid #333333; }
  #navbar ul {
    margin: 0;
    width: 80%;
    font-weight: bold; }
  #navbar .navbar_logo {
    padding-left: 10px;
    width: 50%;
    max-width: 300px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%; }
    #navbar .navbar_logo a {
      font-size: 24px;
      color: #ffffff;
      text-decoration: none;
      background-color: #00c7d2;
      border-radius: 3px;
      padding: 10px;
      transition: all 0.4s; }
      #navbar .navbar_logo a:hover {
        padding: 15px; }
  #navbar .logo_box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  #navbar .navbar_tabs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    #navbar .navbar_tabs a {
      list-style: none;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding-top: 25px;
      padding-bottom: 25px;
      cursor: pointer;
      border: 1px solid #ffffff;
      border-bottom: 5px solid #ffffff;
      color: #333333;
      text-decoration: none;
      padding: 5px;
      transition: all 0.2s; }
      #navbar .navbar_tabs a:hover {
        border-bottom: 5px solid #ffcc00; }
      #navbar .navbar_tabs a.selected {
        border-bottom: solid 5px #ffcc00;
        background-color: #333333;
        color: #ffffff; }

footer {
  background-color: #00c7d2;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; }
  footer .footer_top {
    padding-left: 5%;
    padding-right: 5%; }
  footer .footer_bottom {
    text-align: center; }
  footer .icon_name {
    text-decoration: underline; }
  footer .social_links {
    padding-top: 10px;
    padding-bottom: 10px; }
  footer a {
    color: #ffffff;
    transition: all 0.2s;
    text-decoration: none; }
    footer a:hover {
      color: #ffcc00; }
  footer .contact_info p {
    margin-top: 5px;
    margin-bottom: 5px; }
  footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    border: 1px solid #ffcc00; }
