@import '../../../scss/Variables';

// .donation_button {
//   border-radius: 5px;
//   background-color: $yellow;
//   box-shadow: 0px 5px 0px 0px darken($yellow, 10);
//   transition: all 0.1s;
//   &:active {
//     transform: translate(0px, 5px);
//     box-shadow: 0px 1px 0px 0px;
//   }
//   &:hover {
//     background-color: lighten($yellow, 10);
//   }
//   width: 100%;
//   height: 100%;
//   color: $white;
//   border: none;
//   font-family: $font_primary;
//   font-size: $text_sm;
//   padding: 15px 10px;
//   cursor: pointer;
// }
