@import '~scss/Variables';

.donation_custom {
  margin-bottom: 20px;
  form {
    display: flex;
    flex-direction: row;
  }

  .message {
    margin-bottom: 25px;
  }

  .input_field {
    width: 150px;
    padding-left: 8px;
    margin-right: 10px;
    border-radius: 3px;
  }
}
