@import '~scss/Variables';

.form_view {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & > * {
    margin-bottom: 50px;
  }

  .form_message {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    font-size: $text_md;
    line-height: $text_md * $line_height_scale_norm;
    color: $black;
  }

  .form_inputs {
    width: 100%;
    margin: 50px 5%;
    font-family: $font_primary;

    .form_input {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 30px;
      label {
        color: $blue;
        font-size: $text_sm;
        margin-bottom: 5px;
      }
    }
  }
}
