@import '~scss/Variables';

$icon_image_size: 100px;

// ------------------------------

.icon_panel_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon_panel {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.icon_panel_icon_wrapper {
  padding: 10px;
}


.icon_panel_icon {
  width: $icon_image_size;
  height: $icon_image_size;
  position: relative;

  .icon_panel_icon_name {
    opacity: 0.0;
    width: 100%;
    height: 100%;
    background-color: rgba(darken($blue, 10), 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    p {
      padding: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: $text_min;
      line-height: $text_min * $line_height_scale_norm;
    }
  }
  img {
    z-index: 100;
    width: $icon_image_size;
    height: $icon_image_size;
  }
  &:hover {
    .icon_panel_icon_name {
      opacity: 1.0;
    }
  }
}
