@import '~scss/Variables';

.testimonials {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    max-width: $container_max_width;
    width: 100%;
  }
}

.slick_panel_wrapper {

}

.testimonial_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .testimonial_image {
    display: flex;
    justify-content: center;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .testimonial_text {
    color: $white;

    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font_secondary;
    font-size: $text_md;

    .testimonial_quote {
      font-family: $font_secondary;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .testimonial_author {
      font-family: $font_primary;
      font-weight: bold;
    }

    .testimonial_context {
      font-family: $font_primary;
    }

    // Small screens
    @media (max-width: $bpoint_sm - 1) {
      font-size: $text_sm;
      line-height: $text_sm * $line_height_scale_norm;
    }

    // Large screens
    @media (min-width: $bpoint_sm) {
      font-size: $text_md;
      line-height: $text_md * $line_height_scale_norm;
    }
  }
}

// White prev/next arrows for slide-panel
.testimonials .slick-dots li button:before,
.testimonials .slick-prev:before,
.testimonials .slick-next:before {
  color: $white !important;
}

.testimonials .slick-dots li button:before {
  font-size: 15px;
}

.testimonials .slick-prev:before,
.testimonials .slick-next:before {
  font-size: 25px;
}
