@import "../../../scss/Variables";

.member_cell_wrapper {
  box-shadow: $box_shadow;
  border-radius: 5px;
}

.member_cell {
  display: flex;
  justify-content: center;
  width: $member_image_size;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
