@import '~scss/Variables';

.section_header {
  @media (max-width: $bpoint_sm - 1) {
    .title {
      font-size: $text_md;
    }
    .subtitle {
      font-size: $text_sm;
    }
    margin: 25px auto;
  }
  @media (min-width: $bpoint_sm) {
    .title {
      font-size: $text_lg;
    }
    .subtitle {
      font-size: $text_md;
    }
    margin: 50px auto;
  }
  text-align: center;
  width: 100%;
  .title {
    font-weight: bold;
    color: $blue;
  }
  .subtitle {
    font-weight: bold;
    color: $black;
  }
}
