@import '../../scss/Variables';

.section_header {
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_md;
  }
  @media (min-width: $bpoint_sm) {
    font-size: $text_lg;
  }
  color: $blue;
  text-align: center;
  width: 100%;
  margin: 50px auto;
  .title {
    font-weight: bold;
  }
}
