// ** Variables ** //
$blue: #00c7d2;
$yellow: #ffcc00;
$black: #333333;
$white: #ffffff;

$text_tn: 12px;
$text_sm: 16px;
$text_md: 24px;
$text_lg: 32px;
$text_hg: 48px;

* {
  font-family: 'Montserrat', sans-serif;
}

img.full {
  width: 100%;
}

.flex_center {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_nowrap {
  flex-wrap: nowrap;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $white;
  border-bottom: 2px solid $yellow;
  ul {
    margin: 0;
    width: 80%;
    font-weight: bold;
  }

  .navbar_logo {
    padding-left: 10px;
    color: #00c7d2;
    width: 50%;
    max-width: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;

    h1 {
      font-size: $text_md;
    }
  }

  .navbar_tabs {
    flex-grow: 1;
    .nav_item {
      list-style: none;
      flex-grow: 1;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
      cursor: pointer;
      border: 1px solid $white;
      border-bottom: 5px solid $white;

      &:hover {
        border-bottom: 5px solid $yellow;
      }

      &.selected {
        border-bottom: solid 5px $yellow;
        background-color: $black;
        color: $white;
      }
    }
  }
}

.title {
  font-size: $text_lg;
  color: $blue;
  text-align: center;
}

#intro_blurb {
  margin-top: 100px;
  margin-bottom: 100px;

  .description {
    font-size: $text_lg;
    color: $black;
    text-align: center;
  }
}

.action_button {
  border: none;
  border-radius: none;
  background-color: $yellow;
  font-weight: bold;
  font-size: $text_lg;
  padding: 20px;
  text-align: center;
  margin: 0 auto;

  &:hover {
    background-color: $blue;
    color: white;
    cursor: pointer;
  }
}

.our_classes {
  margin-top: 50px;
}

.cell_wrapper {
  width: 50%;
}

.cell {
  margin: 20px;
  text-align: center;
  border: 5px solid $blue;
  margin-bottom: 30px;
}

.partner_description {
  flex-grow: 1;
  h2 {
    font-style: bold;
  }
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}


.footer {
  margin-top: 50px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
