// ** Variables ** //
$blue: #00c7d2;
$yellow: #ffcc00;
$black: #333333;
$white: #ffffff;

$text_tn: 12px;
$text_sm: 16px;
$text_md: 24px;
$text_lg: 32px;
$text_hg: 48px;

.about-app {
  padding-top: 50px;
}
