@import "Variables";

.our_impact {
  flex-wrap: wrap;
}

.statistics {
  display: flex;
}

.statistic {
  width: percentage(1/3);
  text-align: center;
  img {
    border-radius: 50%;
  }

  h2 {
    color: $blue;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  p {
    color: lighten($black, 10);
    margin-top: 0px;
    margin-bottom: 3px;
  }

  &:not(:first-child) {
    // border-left: 1px solid #ddd;
  }
}
