@import '~scss/Variables';

html, body {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: $font_primary;
}

a {
  color: $blue;
  text-decoration: underline;
}

.container {
  margin-left: 3%;
  margin-right: 3%;
}

.page {
  position: relative;
  top: $navbar_height;
}

.page_contents {
  position: relative;
  z-index: $z_page;
  background-color: $white;
  width: 100%;
}

.centered_header {
  text-align: center;
  color: $blue;
  margin-top: 75px;
}

.button {
  border-radius: 5px;
  transition: all 0.1s;

  text-align: center;
  color: $white;
  border: none;
  font-family: $font_primary;
  font-size: $text_md;
  padding: 15px 25px;
  cursor: pointer;
  outline: none;
  & > * { outline: none; }

  a {
    text-decoration: none;
    color: $white;
  }

  &:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }

  // Default to yellow
  background-color: $yellow;
  box-shadow: 0px 5px 0px 0px darken($yellow, 10);
  &:hover {
    background-color: lighten($yellow, 10);
  }

  &.yellow {
    background-color: $yellow;
    box-shadow: 0px 5px 0px 0px darken($yellow, 10);
    &:hover {
      background-color: lighten($yellow, 10);
    }
  }

  &.blue {
    background-color: $blue;
    box-shadow: 0px 5px 0px 0px darken($blue, 10);
    &:hover {
      background-color: lighten($blue, 10);
    }
  }

}

.input_field {
  /* Rectangle 4: */
  background: $white;
  color: $black;
  font-family: $font_primary;
  font-size: $text_md;
  border: 4px solid lighten($black, 75);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  &:focus {
    outline: none;
    border: 4px solid $yellow;
  }
  &::placeholder {
    color: lighten($black, 65);
  }
}

// For those pesky non-responsive iframes
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;

  &.res-16-by-9 { padding-bottom: 56.25%; }
  &.res-4-by-3 { padding-bottom: 75%; }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
