@import './Variables.scss';

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: $font_primary;
}

.container {
  margin-left: 3%;
  margin-right: 3%;
}

.page {
  position: relative;
  margin-top: $navbar_height + $header_height;
  padding-bottom: 50px;
  z-index: $z_page;
  background-color: $white;
  width: 100%;
}


.page p {
  font-family: $font_secondary;
  line-height: $text_sm * $line_height_scale_norm;
}

.centered_header {
  text-align: center;
  color: $blue;
  margin-top: 75px;
}
