@import "Variables";

$donation_option_image_size: 200px;

// ------------------------------

.donations_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  padding-top: 80px;
  padding-bottom: 80px;
}

.donations_options {
  padding-bottom: 50px;
  @media (min-width: $bpoint_md) {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (max-width: $bpoint_md - 1) {
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.donate_custom {
  color: $white;
  font-family: $font_primary;
  text-decoration: underline;
}

.donation_option {
  margin: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: $donation_option_image_size;
    height: $donation_option_image_size;
    margin-bottom: 20px;
  }
}

.donation_button {
  a {
    padding: 10px;
    width: 250px;
    max-width: 80vw;
    height: 50px;
    background-color: $yellow;
    color: $white;
    font-size: $text_md;
    font-family: $font_primary;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
}

.typeform {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.typeform-widget {
  height: 100%;
  width: 80%;
  box-shadow: $box_shadow;
}
