// ** Variables ** //
$blue: #00c7d2;
$yellow: #ffcc00;
$black: #333333;
$white: #ffffff;

$text_tn: 14px;
$text_sm: 18px;
$text_md: 24px;
$text_lg: 32px;
$text_hg: 48px;

$bpoint_sm: 600px;
$bpoint_md: 1000px;

$navbar_height: 80px;
$header_height: 600px;
$partners_image_size: 200px;

.homepage {
  margin-top: $navbar_height + $header_height;
  .paragraph {
    padding-top: 20px;
    padding-bottom: 20px
  }
}

#video {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 0;
  width: 100%;

  .video_wrapper {
    width: 100%;
    height: $header_height;
  }

  video {
    width: 100%;
    height: $header_height;
    object-fit: cover;
  }
}

.partner_wrapper {
  padding: 10px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner {
  width: $partners_image_size;
  height: $partners_image_size;
  position: relative;

  .partner_description {
    border-radius: 50%;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    background-color: rgba(darken($blue, 10), 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    p {
      padding: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: $text_tn;
    }
  }
  img {
    z-index: 100;
    border-radius: 50%;
    width: $partners_image_size;
    height: $partners_image_size;
  }
  &:hover {
    .partner_description {
      opacity: 1.0;
    }
  }
}

.our_impact {
  flex-wrap: wrap;
}

.statistic {
  width: percentage(1/3);
  text-align: center;
  img {
    border-radius: 50%;
  }

  h2 {
    color: $blue;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  p {
    color: lighten($black, 10);
    margin-top: 0px;
    margin-bottom: 3px;
  }

  &:not(:first-child) {
    // border-left: 1px solid #ddd;
  }
}

.testimonials_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: $blue;
}

.testimonials {
  width: 80%;
}

.slick-dots li button:before,
.slick-prev:before,
.slick-next:before {
  color: $white !important;
}

.testimonial_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial {

  background-color: $blue;
  position: relative;
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .testimonial_image {
    display: flex;
    justify-content: center;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .testimonial_text {
    color: $white;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .testimonial_author { font-size: $text_md; }

    .testimonial_context { font-size: $text_sm; }
  }
}

.image_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  & > div {
    max-width: 840px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    img {
      object-fit: cover;
    }
  }

  .shrink-2 {

    // small
    @media (max-width: $bpoint_md - 1) {
      flex-wrap: wrap;
      justify-content: center;
      img {
        margin-bottom: 20px;
      }
    }
    // large
    @media (min-width: $bpoint_md) {
      justify-content: space-between;
      flex-wrap: nowrap;
      img:nth-child(1) {
        margin-right: 10px;
      }
      img:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
