// ** Variables ** //
$blue: #00c7d2;
$yellow: #ffcc00;
$black: #333333;
$white: #ffffff;

$text_tn: 14px;
$text_sm: 18px;
$text_md: 24px;
$text_lg: 32px;
$text_hg: 48px;

$bpoint_sm: 600px;
$bpoint_md: 1000px;

$max_video_width: 800px;

.home_page {
  .paragraphs {
      font-size: $text_md;
      line-height: $text_md * 1.37;
  }
}

.page {
  margin-top: 50px;
}

#video {
  display: flex;
  justify-content: center;
  background-color: $black;
  width: 100%;

  .video_wrapper {
      max-width: $max_video_width;
      width: 100%;
  }

  video {
    width: 100%;
  }
}

.partner_wrapper {
  padding: 10px;
}

.partners {
  justify-content: center;
}

.partner {
  width: 180px;
  height: 180px;
  position: relative;

  .partner_description {
    border-radius: 50%;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    background-color: rgba(darken($blue, 10), 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    p {
      padding: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }
  img {
    z-index: 100;
    border-radius: 50%;
  }
  &:hover {
    .partner_description {
      opacity: 1.0;
    }
  }
}

.our_impact {
  flex-wrap: wrap;
}

.statistic {
  width: percentage(1/3);
  text-align: center;
  img {
    border-radius: 50%;
  }

  h2 {
    color: $blue;
    margin-top: 8px;
    margin-bottom: 3px;
  }

  p {
    color: lighten($black, 10);
    margin-top: 0px;
    margin-bottom: 3px;
  }

  &:not(:first-child) {
    // border-left: 1px solid #ddd;
  }
}

.testimonials {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  background-color: $blue;
}

.testimonial_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial {

  background-color: $blue;
  position: relative;
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .testimonial_image {
    display: flex;
    justify-content: center;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .testimonial_quote {
    color: $white;
    padding-left: 10%;
    padding-right: 10%;
  }

  .testimonial_author {
    color: $white;
    font-size: $text_md;
  }
}

.image_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  & > div {
    max-width: 840px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    img {
      object-fit: cover;
    }
  }

  .shrink-2 {

    // small
    @media (max-width: $bpoint_md - 1) {
      flex-wrap: wrap;
      justify-content: center;
      img {
        margin-bottom: 20px;
      }
    }
    // large
    @media (min-width: $bpoint_md) {
      justify-content: space-between;
      flex-wrap: nowrap;
      img:nth-child(1) {
        margin-right: 10px;
      }
      img:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}
