@import "Variables";

#video {
  .video_wrapper {
    position: relative;
  }
  .video_overlay_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($black, 0.5);
    color: $white;
    text-shadow: 2px 2px $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      font-family: $font_primary;
      margin-bottom: 0px;
    }
    h2 {
      font-family: $font_secondary;
    }
  }
}

// Small screens
@media (max-width: $bpoint_md - 1) {
  #video {
    position: relative;
    top: $navbar_height;
    width: 100%;

    .video_wrapper { width: 100%; }

    .video_overlay_text {
      height: 100%;
      h1 { font-size: $text_md; }
      h2 { font-size: $text_tn; }
    }

    video { width: 100%; }
  }

  .page.homepage {
    margin-top: $navbar_height;
  }
}

@media (min-width: $bpoint_md) {
  #video {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 0;
    width: 100%;

    .video_wrapper {
      width: 100%;
    }

    .video_overlay_text {
      height: $video_height;
      h1 { font-size: $text_hg; }
      h2 { font-size: $text_sm; }
    }

    video {
      width: 100%;
      height: $video_height;
      object-fit: cover;
    }
  }

  .page.homepage {
    margin-top: $video_height + $navbar_height;
  }
}

.partner_wrapper {
  padding: 10px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.partner {
  width: $partners_image_size;
  height: $partners_image_size;
  position: relative;

  .partner_description {
    border-radius: 50%;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    background-color: rgba(darken($blue, 10), 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    p {
      padding: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: $text_tn;
    }
  }
  img {
    z-index: 100;
    border-radius: 50%;
    width: $partners_image_size;
    height: $partners_image_size;
  }
  &:hover {
    .partner_description {
      opacity: 1.0;
    }
  }
}



.testimonials_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: $blue;
}

.testimonials {
  width: 80%;
}

.slick-dots li button:before,
.slick-prev:before,
.slick-next:before {
  color: $white !important;
}

.testimonial_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial {

  background-color: $blue;
  position: relative;
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .testimonial_image {
    display: flex;
    justify-content: center;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .testimonial_text {
    color: $white;

    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font_secondary;
    font-size: $text_md;

    .testimonial_quote {
      font-family: $font_secondary;
      font-size: $text_sm;
      line-height: $text_sm * 1.37;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .testimonial_author {
      font-family: $font_primary;
      font-size: $text_md;
      font-weight: bold;
    }

    .testimonial_context {
      font-family: $font_primary;
      font-size: $text_sm;
    }
  }
}

// .image_panel {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   flex-wrap: wrap;
//   & > div {
//     max-width: 840px;
//     flex-wrap: nowrap;
//     margin-bottom: 20px;
//     img {
//       object-fit: cover;
//     }
//   }
//
//   .shrink-2 {
//
//     // small
//     @media (max-width: $bpoint_md - 1) {
//       flex-wrap: wrap;
//       justify-content: center;
//       img {
//         margin-bottom: 20px;
//       }
//     }
//     // large
//     @media (min-width: $bpoint_md) {
//       justify-content: space-between;
//       flex-wrap: nowrap;
//       img:nth-child(1) {
//         margin-right: 10px;
//       }
//       img:nth-child(2) {
//         margin-left: 10px;
//       }
//     }
//   }
// }

.bring_coding_button {
  width: 100%;
  display: flex;
  justify-content: center;
}
