@import "Variables";

$schools_image_size: 100px;

// ------------------------------

.school_wrapper {
  padding: 10px;
}

.schools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.school {
  width: $schools_image_size;
  height: $schools_image_size;
  position: relative;

  .school_description {
    border-radius: 50%;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    background-color: rgba(darken($blue, 10), 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    p {
      padding: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: $text_min;
      line-height: $text_min * $line_height_scale_norm;
    }
  }
  img {
    z-index: 100;
    border-radius: 50%;
    width: $schools_image_size;
    height: $schools_image_size;
  }
  &:hover {
    .school_description {
      opacity: 1.0;
    }
  }
}
