// ** Variables ** //
$blue: #00c7d2;
$yellow: #ffcc00;
$black: #333333;
$white: #ffffff;

$text_tn: 14px;
$text_sm: 18px;
$text_md: 24px;
$text_lg: 32px;
$text_hg: 48px;

$bpoint_sm: 600px;
$bpoint_md: 1000px;

.our_courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
}

.course_wrapper {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}

.course {
  padding: 30px;
  margin: 20px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  width: 400px;
  min-width: 100px;
  .course_title {
    color: $blue;
    font-size: $text_md;
    font-weight: bold;
  }
  .course_description {
    color: $black;
    font-size: $text_sm;
  }
}
