@import "Variables";
@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat:400,700');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: normal;
}

h3 {
  @media (min-width: $bpoint_sm) {
    font-size: $text_md;
    line-height: $text_md * $line_height_scale_norm;
  }
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
  }
}

h4 {
  @media (min-width: $bpoint_sm) {
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
  }
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_tn;
    line-height: $text_tn * $line_height_scale_norm;
  }
}

p {
  font-family: 'Domine', serif;
  line-height: $text_sm * $line_height_scale_norm;
}

hr {
  opacity: 0.5;
}

/* Float */
