@import "Variables";
@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat:400,700');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: normal;
}

h3 {
  @media (min-width: $bpoint_sm) {
    font-size: $text_md;
    line-height: $text_md * $line_height_scale_norm;
  }
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
  }
}

h4 {
  @media (min-width: $bpoint_sm) {
    font-size: $text_sm;
    line-height: $text_sm * $line_height_scale_norm;
  }
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_tn;
    line-height: $text_tn * $line_height_scale_norm;
  }
}

p {
  font-family: 'Domine', serif;
  line-height: $text_sm * $line_height_scale_norm;
}

hr {
  opacity: 0.5;
}

/* Float */
.hvr_float {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr_float:hover, .hvr_float:focus, .hvr_float:active {
  transform: translateY(-8px);
}

/* Grow */
.hvr_grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr_grow:hover, .hvr_grow:focus, .hvr_grow:active {
  transform: scale(1.1);
}

/* Forward */
.hvr_forward {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr_forward:hover, .hvr_forward:focus, .hvr_forward:active {
  transform: translateX(8px);
}

.page_header {
  height: $header_height;
  width: 100%;
  position: fixed;
  top: $navbar_height;
  left: 0;
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header_height;
  }
  .header_background {
    position: relative;
    img {
      width: 100%;
      height: $header_height;
      background-color: rgba($black, 0.7);
      object-fit: cover;
    }
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.6);
    }
  }

  .header_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $header_height;
  }

  .header_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    @media (min-width: $bpoint_md) {
      h1 {
        font-size: $text_md;
      }
      p {
        font-size: $text_sm;
        line-height: $text_sm * $line_height_scale_high;
      }
    }
    @media (max-width: $bpoint_md - 1) {
      h1 {
        font-size: $text_sm;
      }
      p {
        font-size: $text_tn;
        line-height: $text_tn * $line_height_scale_high;
      }
    }
  }
}

.hover_fade_content {
  position: relative;
  width: 100%;
  height: 100%;
  .hfc {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    &.hfc_default { opacity: 1; }
    &.hfc_hover { opacity: 0; }
  }

  &:hover .hfc_default { opacity: 0; }
  &:hover .hfc_hover { opacity: 1; }
}

.link_button button {
  border: none;
  border-radius: 3px;
  background-color: $yellow;
  font-weight: bold;
  font-size: $text_lg;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.container {
  margin-left: 3%;
  margin-right: 3%;
}

.page {
  position: relative;
  margin-top: $navbar_height + $header_height;
  padding-bottom: 50px;
  z-index: 100;
  background-color: $white;
  width: 100%;
}

.action_button {
  border: none;
  border-radius: 3px;
  background-color: $yellow;
  font-weight: bold;
  font-size: $text_lg;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    padding: 30px;
  }
}

.titled_content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;

  .title {
    font-size: $text_md;
    color: $blue;
  }

  .subtitle {
    font-size: $text_sm;
    color: lighten($black, 20);
  }

  @media (min-width: $bpoint_md) {
    display: flex;
    .title_side { width: 30%; }
    .paragraphs {
      width: 70%;
      // padding-top: 10px;
      padding-left: 20px;
    }
  }

  .paragraphs {
    font-size: $text_sm;
    color: lighten($black, 10);
    line-height: $text_sm * $line_height_scale_high;

  }

  &:not(:first-child) {
    border-top: 1px solid #ddd;
  }
}

.section_header {
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_md;
  }
  @media (min-width: $bpoint_sm) {
    font-size: $text_hg;
  }
  color: $white;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image:
    linear-gradient(
      to right,
      rgba($blue, 0.2),
      rgba($blue, 1),
      rgba($blue, 1),
      rgba($blue, 1),
      rgba($blue, 0.2)
    );
}

.member_links {
  i {
    color: $black;
  }
}
