@import "Variables";
@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat:400,700');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: normal;
}

h3 {
  @media (min-width: $bpoint_sm) {
    font-size: $text_md;
    line-height: $text_md * 1.37;
  }
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_sm;
    line-height: $text_sm * 1.37;
  }
}

h4 {
  @media (min-width: $bpoint_sm) {
    font-size: $text_sm;
    line-height: $text_sm * 1.37;
  }
  @media (max-width: $bpoint_sm - 1) {
    font-size: $text_tn;
    line-height: $text_tn * 1.37;
  }
}

p {
  font-family: 'Domine', serif;
  line-height: $text_sm * 1.37;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.5;
}

/* Float */
.hvr_float {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr_float:hover, .hvr_float:focus, .hvr_float:active {
  transform: translateY(-8px);
}

/* Grow */
.hvr_grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr_grow:hover, .hvr_grow:focus, .hvr_grow:active {
  transform: scale(1.1);
}

/* Forward */
.hvr_forward {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr_forward:hover, .hvr_forward:focus, .hvr_forward:active {
  transform: translateX(8px);
}

nav {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $white;
  box-shadow: $box_shadow;

  @media (max-width: $bpoint_sm) {
    #navbar_hamburger {
      display: flex !important;
    }
    .navbar_tabs {
      display: none !important;
    }
  }

  @media (min-width: $bpoint_sm - 1) {
    #navbar_hamburger {
      display: none !important;
    }
    .navbar_tabs {
      display: flex !important;
    }
  }

  .navbar_logo {
    padding-left: 20px;
    padding-right: 20px;
    // width: 300px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    // border-right: 1px solid rgba($black, 0.1);

    img {
      height: 60px;
      width: auto;
      border-radius: 4px;
    }

    #short_nav_logo {
      display: none;
    }

    @media (max-width: $bpoint_sm) {
      #long_nav_logo {
        display: none;
      }
      #short_nav_logo {
        display: block;
      }
    }

    @media (min-width: $bpoint_sm - 1) {
      #long_nav_logo {
        display: block;
      }
      #short_nav_logo {
        display: none;
      }
    }

    li {
      list-style: none;
    }
  }

  .logo_box {
    align-items: center;
  }

  .navbar_tabs {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    overflow-x: auto;

    &::-webkit-scrollbar-track {
      visibility: hidden;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    li {
      list-style: none;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 100%;

    }

    a {
      text-decoration: none;
      color: $blue;
      width: 100%;
      height: 100%;
      padding-left: 25px;
      padding-right: 25px;
      display: flex;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  }

  #navbar_hamburger {
    padding: 5px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 900;
    & > div {
      width: 20px;
      height: 4px;
      margin-bottom: 2px;
      background-color: $blue;
    }
  }

  #navbar_panel {
    z-index: 800;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.5s;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      padding-bottom: 20px;
      padding-top: 20px;
      a {
        color: $blue;
        font-size: $text_md;
        text-decoration: none;
      }
    }
  }
}

footer {
  position: relative;
  z-index: 100;
  a, h1, h2, p, i, div {
    color: $white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  background-color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;

  .footer_top {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    @media (max-width: $bpoint_sm) {
      display: block;
      text-align: center;
    }
  }

  .footer_bottom {
    text-align: center;
  }

  .icon_name {
    text-decoration: underline;
  }

  .social_links {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a {
    color: $white;
    transition: all 0.4s;
    text-decoration: none;

  }
  .contact_info p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    border: 1px solid rgba($white, 1.0);
  }
}

.page_header {
  height: $header_height;
  width: 100%;
  position: fixed;
  top: $navbar_height;
  left: 0;
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header_height;
  }
  .header_background {
    position: relative;
    img {
      width: 100%;
      height: $header_height;
      background-color: rgba($black, 0.7);
      object-fit: cover;
    }
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.6);
    }
  }

  .header_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .header_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    @media (min-width: $bpoint_md) {
      h1 {
        font-size: $text_md;
      }
      p {
        font-size: $text_sm;
      }
    }
    @media (max-width: $bpoint_md - 1) {
      h1 {
        font-size: $text_sm;
      }
      p {
        font-size: $text_tn;
      }
    }
  }
}

.hover_fade_content {
  position: relative;
  width: 100%;
  height: 100%;
  .hfc {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    &.hfc_default { opacity: 1; }
    &.hfc_hover { opacity: 0; }
  }

  &:hover .hfc_default { opacity: 0; }
  &:hover .hfc_hover { opacity: 1; }
}

.link_button button {
  border: none;
  border-radius: 3px;
  background-color: $yellow;
  font-weight: bold;
  font-size: $text_lg;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.container {
  @media (max-width: $bpoint_sm - 1) {
    margin-left: 3%;
    margin-right: 3%;
  }
  @media (min-width: $bpoint_sm) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.page {
  position: relative;
  margin-top: $navbar_height + $header_height;
  padding-bottom: 50px;
  z-index: 100;
  background-color: $white;
  width: 100%;
}

.action_button {
  border: none;
  border-radius: 3px;
  background-color: $yellow;
  font-weight: bold;
  font-size: $text_lg;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    padding: 30px;
  }
}

.titled_content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;

  .title {
    font-size: $text_lg;
    color: $blue;
  }

  @media (min-width: $bpoint_md) {
    display: flex;
    .title { width: 30%; }
    .paragraphs {
      width: 70%;
      padding-top: 10px;
      padding-left: 20px;
    }
  }

  .paragraphs {
    font-size: $text_sm;
    color: lighten($black, 10);
    line-height: 22px;

  }

  &:not(:first-child) {
    border-top: 1px solid #ddd;
  }
}
