@import "Variables";

.teampage {

  h1 {
    color: $blue;
  }
}

.row {
  margin-top: 150px;
  margin-bottom: 70px;
}

.team {
  width: 100%;
  justify-content: center;

  & > * {
    padding: 20px;
  }
}

.team_member_set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & > * {
    padding: 20px;
  }
}

.member_name {
  color: $blue;
  font-weight: bold;
}

.member_position {
  color: lighten($black, 20%);
}

.member_description {
  color: lighten($black, 20%);
  font-size: $text_tn;
}

.head_member {
  margin-bottom: 50px;
  display: flex;
  // flex-shrink: 1;
  justify-content: space-between;
  box-shadow: $box_shadow;
  border-radius: 4px;
  @media (min-width: $bpoint_md) {
    &:nth-child(even) {
      .member_image {
        order: 1;
      }
      .member_text_wrapper {
        order: 2;
      }
    }
    &:nth-child(odd) {
      .member_image {
        order: 2;
      }
      .member_text_wrapper {
        order: 1;
      }
    }

    .member_text_wrapper {
      width: 65%;
      flex-shrink: 1;
    }
    .member_image {
      width: $head_member_image_size;
      height: $head_member_image_size;
      img {
        width: $head_member_image_size;
        height: $head_member_image_size;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: $bpoint_md - 1) {
    flex-wrap: wrap;
    align-items: center;
    .member_image {
      width: $head_member_image_size * 0.65;
      height: $head_member_image_size * 0.65;
      img {
        width: $head_member_image_size * 0.65;
        height: $head_member_image_size * 0.65;
      }
    }

  }

  .member_text {
    padding: 25px;

    .member_name {
      font-size: $text_md;
    }
    .member_position {
      font-size: $text_sm;
    }
  }
}

.team_member_wrapper {
  display: flex;
  justify-content: center;
}

.team_member {
  padding-bottom: 10px;
  width: $member_image_size;
  position: relative;
  box-shadow: $box_shadow;
  border-radius: 4px;

  .member_image {
    width: $member_image_size;
    height: $member_image_size;
  }

  .college_attended {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $black;
    color: $white;
    font-size: $text_sm;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    &.ucla {
      background-color: $uclaBlue;
      color: $uclaYellow;
    }
    &.usc {
      background-color: $uscRed;
      color: $uscYellow;
    }
    &.caltech {
      background-color: $caltechOrange;
      color: $white;
    }
    &.csu_sacramento {
      background-color: $csuSacGreen;
      color: $csuSacGold;
    }
    &.pepperdine_university {
      background-color: $pepperdineBlue;
      color: $white;
    }
  }

  .member_text {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    .member_name {
      font-size: $text_sm;
    }

    .member_position {
      font-size: $text_tn;
    }
  }

  .member_links {
    a {
      color: lighten($black, 20%);
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.hover_fade_image img {
  width: 100%;
}
