@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat:400,700');

// Colors
$blue: #00c7d2;
$yellow: #ffcc00;
$black: #333333;
$white: #ffffff;
$red: #e10000;

// Typography
$font_primary: 'Montserrat', sans-serif;
$font_secondary: 'Domine', serif;
$text_min: 12px;
$text_tn: 14px;
$text_sm: 16px;
$text_md: 20px;
$text_lg: 28px;
$text_hg: 48px;
$line_height_scale_low: 1.20;
$line_height_scale_norm: 1.37;
$line_height_scale_high: 1.75;

// Media Breakpoints
$bpoint_tn: 600px;
$bpoint_sm: 800px;
$bpoint_md: 1000px;

// Component Sizes
$navbar_height: 50px;
$header_height: 400px;
$video_height: 800px;
$container_max_width: 1200px;

$head_member_image_size: 400px;
$member_image_size: 250px;
$info_overlay_padding: 8px;

// Miscellaneous Styles
$box_shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
$blue_fade_bg: linear-gradient(
  to right,
  rgba($blue, 0.5),
  rgba($blue, 1),
  rgba($blue, 1),
  rgba($blue, 1),
  rgba($blue, 0.5)
);

// Z-Indexes
$z_header: 50;
$z_page: 100;
$z_navbar: 200;
$z_hamburger: 400;
$z_modal_container: 300;
