// Colors
$blue: #00c7d2;
$yellow: #ffcc00;
$black: #333333;
$white: #ffffff;

$uclaBlue: #1E5EA0;
$uclaYellow: #FBB727;
$uscRed: #980F07;
$uscYellow: #F9B218;
$caltechOrange: #FF6E1E;
$csuSacGreen: #01573C;
$csuSacGold: #CBB778;
$pepperdineBlue: #00205C;

// Typography
$font_primary: 'Montserrat', sans-serif;
$font_secondary: 'Domine', serif;
$text_tn: 14px;
$text_sm: 18px;
$text_md: 24px;
$text_lg: 32px;
$text_hg: 48px;

// Media Breakpoints
$bpoint_sm: 600px;
$bpoint_md: 1000px;

// Component Sizes
$navbar_height: 80px;
$header_height: 600px;
$partners_image_size: 200px;
$head_member_image_size: 400px;
$member_image_size: 300px;

// Miscellaneous Styles
$box_shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
