@import '../../scss/Variables.scss';

footer {
  position: relative;
  color: $white;
    // font-weight: bold;

  h2 {
    font-weight: normal;
    font-family: $font_primary;
  }
  a, p {
    font-size: $text_sm;
    font-family: $font_secondary;
    line-height: $line_height_scale_norm * $text_sm;
  }

  background-color: $black;
  padding-top: 10px;
  padding-bottom: 10px;

  .footer_top {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    @media (max-width: $bpoint_sm) {
      display: block;
      text-align: center;
    }
  }

  .footer_bottom {
    p {
      text-align: center;
      font-family: $font_primary;
    }
  }

  .icon_name {
    text-decoration: underline;
  }

  .social_links {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a {
    color: $white;
    transition: all 0.4s;
    text-decoration: none;

  }
  .contact_info p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    border: 1px solid rgba($white, 1.0);
  }
}
