@import '../../scss/Variables';

.page.homepage {
  position: relative;
  top: $navbar_height - 4;
  margin-top: 0;
}

.homepage {
  .video_and_updates {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    .promo_video_wrapper {
      padding: 30px;
      flex-grow: 1;
    }
    .updates_feed_wrapper {
      padding: 30px;
      max-width: 600px;
    }
    .promo_video {
      video {
        width: 100%;
      }
    }

    // Small screens
    @media (max-width: $bpoint_md - 1) {
      justify-content: center;
    }

    // Large screens
    @media (min-width: $bpoint_md) {
      justify-content: space-between;
    }
  }

  @media (max-width: $bpoint_md - 1) {
    .video_and_updates {
      flex-wrap: wrap;
    }
  }
}
