@import '~scss/Variables';

.home_page .page_contents {
  position: relative;
}

.home_page {

  .home_page_promo_video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .home_page_updates_feed {
    box-sizing: border-box;
    padding: 50px 0px;
  }

}
