@import '../../scss/Variables';

.intro_blurb {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10vw;
  padding-right: 10vw;

  display: flex;
  justify-content: space-between;

  .intro_blurb_image {
    img {
      max-height:400px;
      filter: drop-shadow(2px 2px 5px $black);
    }
  }

  .calls_to_action {
    display: flex;
    margin-top: 20px;
    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }

  .intro_blurb_text {
    color: $white;
    font-family: $font_secondary;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .primary {
      font-family: $font_primary;
      color: $blue;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .secondary {

    }
  }

  // Small screens
  @media (max-width: $bpoint_md - 1) {
    .intro_blurb_image {
      display: none;
    }
    .intro_blurb_text {
      text-align: center;
      .primary {
        font-size: $text_md;
        line-height: $text_md * $line_height_scale_norm;
      }
      .secondary {
        display: none;
      }
    }
    .calls_to_action {
      justify-content: center;
    }
  }

  // Large screens
  @media (min-width: $bpoint_md) {

    .intro_blurb_text {
      text-align: right;
      padding: 10px;
      .primary {
        font-size: $text_lg;
        line-height: $text_lg * $line_height_scale_norm;
      }
      .secondary {
        font-size: $text_md;
        line-height: $text_md * $line_height_scale_high;
      }
    }
    .calls_to_action {
      justify-content: flex-end;
    }
  }
}
