@import "~scss/Variables";

.member_card_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.member_card {
  position: relative;
  background-color: $white;
  box-shadow: $box_shadow;
  width: 80%;
  max-width: $container_max_width;
  padding: 25px;

  .member_name {
    font-size: $text_lg;
  }

  .member_card_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .member_card_column {
    display: flex;
    flex-direction: column;
  }

  .member_info_bar {
    margin-bottom: 20px;
  }

  .member_description {

    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
    padding-bottom: 30px;
    overflow: scroll;
  }

  @media (min-width: $bpoint_sm) {
    .member_image_background {
      display: none;
    }
    .member_card_row {
      flex-direction: row;
      .member_description {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  @media (max-width: $bpoint_sm - 1) {
    .member_image_background {
        display: flex;
        width: 100%;
        img {
          width: 100%;
        }
    }
    .member_image {
      display: flex;
      justify-content: center;
    }
    .member_card_row {
      flex-direction: column;
      .member_description {
        padding-top: 20px;
      }
    }
  }
}
