@import '../../scss/Variables';

.titled_content_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.titled_content {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;

  .title {
    font-size: $text_lg;
    color: $blue;
  }

  .subtitle {
    font-size: $text_md;
    color: lighten($black, 20);
  }

  @media (min-width: $bpoint_md) {
    display: flex;
    .title_side { width: 30%; }
    .content_side {
      width: 70%;
      // padding-top: 10px;
      padding-left: 20px;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid #ddd;
  }
}
