@import '~scss/Variables';

.team_section {
  width: 100%;
  padding-bottom: 50px;
  .team_section_title {
    text-align: center;
    color: $blue;
  }

  .member_cell {
    width: $member_image_size;
    height: $member_image_size;
  }
}
