@import '../../scss/Variables.scss';

.philosophies_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.philosophies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
}
